{% extends 'main/base.html' %}

{% block title %}
 Концерты
{% endblock %}

{% block name %}
 <h2 class="m-3">Концерты</h2>
 <p class="m-3">Найдено событий - {{ count }}</p>
 {% for el in event %}

 <div class="card text-center">
  <div class="card-header">
      <p>Место проведения - {{ el.Place_id }}</p>
          <p style="color:red">{{ el.ConfineId }}</p>
  </div>
  <div class="card-body">
      <h4 class="card-title"><a class="link-dark" href="{% url 'events' id=el.id %}">{{ el.Name }}</a></h4>
    <p class="card-text">{{ el.About }}</p>
    <a href="#" class="btn btn-primary">Купить билет</a>
  </div>
  <div class="card-footer text-muted">
        <p>Дата проведения - {{ el.Date }}</p>
  </div>
  </div>

 {% endfor %}
{% endblock %}

